.BlogPageContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    margin: 20px 80px;
    box-shadow: 5px 5px 5px 5px rgb(0 0 0 / 20%);
}

.ButtonContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}

.backButtonContainer{
    flex: 1;
}

.backButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border: none;
}

.backButton:hover{
    cursor: pointer;
}

.formContainer{

}

.UploadImage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.publishBtn{
    padding: 10px 40px;
    border: none;
    margin: 0 30px;
    border-radius: 15px;
    background-color: #fd7c06;
    color: white;
}

.publishBtn:hover{
    cursor: pointer;
}

.titleContainer{
    margin: 20px;
} 

.descriptionContainer{
    margin: 20px;
}