/* * {
  overflow-x: hidden;
} */

.list-row {
    /* Remove border and spacing */
    border: none;
    margin-bottom: 0;
    /* Your existing styles */
    background: white;
    padding: 1em;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 8px;
}

.list-row button {
    cursor: pointer;
    height: 2em;
    margin-left: 0.5em;
}

.list-row:hover .drag-indicator {
    display: block;
}

.list-row:hover {
    box-shadow: 10px 9px 39px -3px rgba(0,0,0,0.1);
}

.drag-indicator {
    display: none;
}

.pages {
    list-style: none;
    padding: 20px;
    margin-top: 10px; /* Adjust the top margin to create a gap */
    text-align: left;
    /* border: 1px solid black; */
    text-decoration: underline;
    
}

Link {
    cursor: pointer;
}
  
.page-selector ul {
    padding: 0;
}

.page-selector h1 {
    /* border: 1px solid black; */
}

.page-view {
    padding: 0px 70px 0px 70px;
    overflow: hidden;
}

.page-selector {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Add gap between list items */
    width: 300px;
    /* border: 1px solid black; */
}

.add-page-btn {
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.add-page-btn:hover {
    background-color: #ff7a00;
    color: white;
}

.page-body {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 0px 20px 0px 50px;
}

.page-edit {
    width: 100%;
    margin-left: 20px;;
}

.cover-photo {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    position: relative;
    background-size: cover;
    background-position: center;
}

.cover-photo input {
    border: none;
    outline: none;
}


.cover-photo:hover .upload-cover-btn {
    display: block;
}

.upload-cover-btn {
    position: absolute;
    top: 80%;
    left: 80%;
    display: none;
    opacity: 80%;
}

.page-title-lg {
    font-size: 20px;
}

.selected {
    border-right: 4px solid orange;
}

.heading {
    display: flex;
    /* border: 1px solid black; */
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.heading .back {
    display: flex;
    /* border: 1px solid black; */
    width: 250px;
    padding-left: 45px;
}

.heading p {
    display: flex;
    border: 1px solid black;
    flex: 2;
    width: 100%;
}

.heading .page-save-btn {
    border: 1px solid black;
}

.heading .page-save-btn button {
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 10px;
}

.page-title-lg {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 0px;
}

.title{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}
.title h1{
    width: 100%;
    text-wrap: wrap;
    font-size: 3rem;
    padding-left: 5px;
    margin-left: 0px;
}

.page-title-lg .title {
    width: 70%;
    flex: 1;
}

.page-title-sm {
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
}

/* Add this style to your CSS file */
.sortable {
    position: relative;
    /* Add other styles as needed */
}
  
.delete-button {
    position: absolute;
    top: 55px;
    right: -50px; /* Adjust the right offset as needed */
    cursor: pointer;
    background-color: #ed7b8e;
    border-radius: 5px;
    padding: 5px;
    opacity: 0; /* Initially hide the delete button */
    transition: opacity 0.3s ease; /* Add a transition effect */
    /* Add other styles as needed */
    
    &.hidden {
        display: none;
    }
    /* Display the delete button on hover */
    .sortable:hover & {
        opacity: 0.8;
        z-index: 1;
        cursor: pointer;
    }
}

.edit-button {
    position: absolute;
    top: 18px;
    right: -50px; /* Adjust the right offset as needed */
    cursor: pointer;
    background-color: #f2e698;
    border-radius: 5px;
    padding: 5px;
    opacity: 0; /* Initially hide the delete button */
    transition: opacity 0.3s ease; /* Add a transition effect */
    /* Add other styles as needed */
    
    &.hidden {
        display: none;
    }
    /* Display the delete button on hover */
    .sortable:hover & {
        opacity: 0.8;
        z-index: 1;
        cursor: pointer;
    }
}

.element_h1 {
    font-size: 30px;
    margin-left: 0;
}

.element_img {
    border-radius: 10px;
    width: 100%;
    object-fit: cover;
}

.element_p {
    font-size: 20px;
    line-height: 35px;
}

.element_a {
    font-size: 25px;
}

iframe {
    width: 1300px;
    height: 720px;
    resize: both;
}

.modal-content h1 {
    font-size: 50px;
}

.modal-button {
    display: flex;
    gap: 34px;
    margin-top: 50px;
    justify-content: center;
}
