.BlogPage {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.logo {
  width: 300px;
  height: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
}


.layoutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}


.bodyContainer{
  display: flex;
  flex-direction: column;
  margin: 20px 40px;
}


.Headline{
  width: 100%;
}

h1{
  font-family: 'Inter', sans-serif;
  margin: 20px 50px;
}

.blogButtons{
  display: flex;
  margin: 0 50px;
}

.addButtonContainer{
  display: flex;
  width: 100%;
}

.actualButton{
  padding: 20px 30px;
  width: 1420px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #fd7c06;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
