.MultiImageBox{
  width: 99%;
  position: relative;
}

.Clicker{
  width: 95%;
  height: inherit;
  position: absolute;
  cursor: pointer;
}

.imageContainer{
  width: 99%;
  height: 250px;
  border: dashed 1px black;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.uploadedPreview{
  position: relative;
  height: 200px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  object-fit: cover;
}

.uploadedPreview img {
  width: auto;
  max-height: 150px;
  object-fit: cover;
  margin: 20px;
  border-radius: 12px;
}

.TextImage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uploadedImageContainer{
  display: flex;
  position: relative;

}

.deleteButton{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  position: absolute;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  color: #fd7c06;
  right: 5px;
  z-index: 1000;
}

.imageIndex{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  z-index: 1;
}

